@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  color: #fff;
  background: rgb(75,52,18);
background: linear-gradient(90deg, rgba(75,52,18,1) 0%, rgba(237,142,9,1) 35%, rgba(75,52,18,1) 100%);

}

:root{
  --colora: #ed8e09;
  --colorb: #4b3412;
}

