@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  color: #fff;
  background: rgb(75,52,18);
background: linear-gradient(90deg, rgba(75,52,18,1) 0%, rgba(249,115,22,1) 35%, rgba(75,52,18,1) 100%);
}

:root{
  --colora: #f97316;
  --colorb: #4b3412;
}

.menu {
  clip-path: inset(0 0 0 400px); /* Начальное состояние */
}

.menuIn {
  animation: visual 0.5s 0.1s linear forwards;
}

@keyframes visual {
  0% {
    clip-path: inset(0 0 0 400px); /* Начальное состояние */
  }
  100% {
    clip-path: inset(0); /* Полностью видимо */
  }
}

.menuOut {
  animation: visualOut 0.5s 0.1s linear forwards;
}

@keyframes visualOut {
  0% {
    clip-path: inset(0); /* Полностью видимо */
  }
  100% {
    clip-path: inset(0 0 0 400px); /* Скрыто */
  }
}


